.org_singup_card {
  margin-top: 100px;
  text-align: center;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  color: #3f51b5;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 35px;
  border-radius: 25px;
}

.org_signup_heading {
  text-align: center;
  font-size: 2.5rem;
}

.org_signup_details {
  text-align: center;
  font-size: 1.5rem;
}

.org_signup_button {
  background-color: #3f51b5;
  border-radius: 5px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 210px;
  margin-top: 30px;
  padding: 5px;
  cursor: pointer;
  outline: none;
  height: 40px;
  border: none;
  width: 80%;
  font-size: 1.25rem;
  transition: transform 1s ease-in-out;
}

.org_signup_button:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 5px #dbdbdb;
}

.redirect_msg {
  font-size: 1rem;
}
